<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>HiV</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap"
			rel="stylesheet"
		/>
		<link th:href="@{/css/styles.css}" rel="stylesheet" />
	</head>
	<body>
		<div class="form-container">
			<form th:action="@{/log-in}" method="POST">
				<img th:src="@{/assets/logo.svg}" alt="logo" class="logo" />
				<h2>log in</h2>

				<h2 th:if="${param.error != null}" class="error">
					invalid username or password
				</h2>

				<label for="username or email">username or email</label>
				<input
					type="text"
					name="username-or-email"
					placeholder="username or email"
					id="username or email"
					required
					autofocus
				/>

				<label for="password">password</label>
				<input
					type="password"
					name="password"
					placeholder="password"
					id="password"
					minlength="8"
					maxlength="127"
					title="password must be at least 8 characters long"
					required
				/>

				<input type="submit" value="log in" />

				<a href="/sign-up">new here? create an account</a>
			</form>
		</div>
	</body>
</html>
