<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>high-five</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap"
			rel="stylesheet"
		/>
		<link th:href="@{/css/styles.css}" rel="stylesheet" />
	</head>
	<body>
		<div class="login">
			<form th:action="@{/sign-up}" th:object="${user}" method="POST">
				<img th:src="@{/assets/logo.svg}" alt="logo" class="logo" />
				<h2>sign up</h2>

				<h2 th:if="${error != null}" class="error" th:text="${error}">oof</h2>

				<label for="email">email</label>
				<input
					type="email"
					th:field="*{email}"
					placeholder="email"
					id="email"
					maxlength="63"
					required
					autofocus
				/>

				<label for="username">pick a username</label>
				<input
					type="text"
					th:field="*{username}"
					placeholder="username"
					id="username"
					minlength="1"
					maxlength="15"
					pattern="^[a-z][a-z0-9]*$"
					title="username must contain only lowercase letters and numbers, begin with a letter, and maximum 15 characters long"
					required
				/>

				<label for="password">password</label>
				<input
					type="password"
					th:field="*{password}"
					placeholder="password"
					id="password"
					minlength="8"
					maxlength="127"
					title="password must be at least 8 characters long"
					required
				/>

				<label for="password">confirm password</label>
				<input
					type="password"
					th:field="*{confirmPassword}"
					placeholder="password"
					id="confirm-password"
					minlength="8"
					maxlength="127"
					title="password must be at least 8 characters long"
					required
				/>

				<input type="submit" value="sign up" />

				<a href="/log-in">new here? create an account</a>
			</form>
		</div>
	</body>
</html>
